[submodule "nostr-rs-relay"]
	path = nostr-rs-relay
	url = https://github.com/PLEBNET-PLAYGROUND/playground-nostr-rs-relay.git
	branch = v0.0.3
	ignore = dirty
[submodule "rs-relay"]
	path = nostr/rs-relay
	url = https://github.com/PLEBNET-PLAYGROUND/playground-nostr-rs-relay.git
	branch = v0.0.3
	ignore = dirty
